name : "User CRUD operation"

on :
  push:
    branches: [ main ]

jobs:
  build :

    runs-on: ubuntu-latest

    steps:
    - name : Checking the repository
      uses: actions/checkout@v2

    - name : Setup Gradle
      uses: gradle/gradle-build-action@v2

    - name : Build Project
      run :  ./gradlew build
